* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0;
  max-width: 900px;
  display: flex;
  justify-content: center;
  font-size: 1rem;
  color: #293264;
}

.startQuiz,
.container {
  width: 600px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F5F7FB;
  padding: 20px;
}

.startQuiz--header {
  margin: 0;
  font-family: 'Karla', sans-serif;
  font-size: 3rem;
  font-weight: 700;
}

.startQuiz--paragraph {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.startQuiz--button,
.container--button {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  color: #F5F7FB;
  background: #4D5B9E;
  border: none;
  border-radius: 15px;
  padding: 1em 2em;
  cursor: pointer;
}

.startQuiz--button:hover,
.startQuiz--button:focus,
.container--button:hover,
.container--button:focus {
  background: #F5F7FB;
  color: #4D5B9E;
  outline: none;
}

.container {
  padding-top: 1em;
  padding-bottom: 1em;
  justify-content: space-between;
}

.question {
  width: 400px;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 1rem;
  border-bottom: 1px solid #DBDEF0;
}

.question--header {
  font-family: 'Karla';
  font-weight: 700;
}

.question--answers {
  display: flex;
  /* flex-wrap: wrap; */
  gap: .5em 0;
  justify-content: flex-start;
  align-items: center;
  /* align-content: center; */
  margin-bottom: 10px;
}

.question--answers-button {
  background: transparent;
  border: 1px solid #293264;
  padding: 0.5em 1.25em;
  border-radius: 10px;
  font-family: 'Inter', sans-serif;
  font-size: .8rem;
  margin-right: .8em;
  cursor: pointer;
  color: #293264;
  margin-bottom: 2px;
  align-self: stretch;
  flex: 1 1 0;
}

.question--answers button:hover,
.question--answers button:focus {
  background: #D6DBF5;
}

.container--button {
  font-size: .8rem;
  margin-top: 1em;
}

.end-game {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.end-game p {
  margin-right: .5em;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}

.end-game button {
  font-family: 'Inter', sans-serif;
  font-weight: bolder;
}
